@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    background-color: #1f2937; /* approx stone-800 */
    color: #f9fafb;
    -webkit-font-smoothing: antialiased;
    font-synthesis: none;
    text-rendering: optimizeLegibility;
  }

  #root {
    margin: 0 auto;
    max-width: 80rem;
    padding: 2rem;
  }
}